.navbar.navbar-default {
  background: #fff;
  padding: 10px 30px;
}
.nav-wrapper {
  display: flex;
}
//flex child of .nav-wrapper
.logo {
  
}
//flex child of .nav-wrapper
.menu-items {
  flex-grow: 1;
  color: red;
}

.menu-phone, .menu-email {
  display: inline-block;
}
